<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon stage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="dropdown">
                    <a  class="dropbtn">Mes projets</a>
                    <div class="dropdown-content">
                        <a href="/BUT1">BUT 1</a>
                        <a href="/BUT2">BUT 2</a>
                        <a href="/BUT3">BUT 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn">Mon stage</a>
                    <div class="dropdown-content">
                        <a href="/stage2023">Stage 2023</a>
                        <a href="/stage2024">Stage 2024</a>
                    </div>
                </li>
                <li><a href="/about">À propos de moi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="button-container">
                <button onclick="location.href='/s101'">SAÉ S1.01</button>
                <button onclick="location.href='/s102'">SAÉ S1.02 </button>
                <button onclick="location.href='/s103'">SAÉ S1.03</button>
                <button onclick="location.href='/s104'">SAÉ S1.04</button>
                <button onclick="location.href='/s105'">SAÉ S1.05</button>
                <button onclick="location.href='/s106'">SAÉ S1.06</button>
                <button onclick="location.href='/s126'">SAÉ S2.126</button>
                <button onclick="location.href='/s345'">SAÉ S2.345</button>
            </div>
            <br>
        </section>
        <section>
            <p>Bienvenue sur la page des projets réalisés au cours de ma <strong>première année</strong> de formation. Cette section présente les divers travaux et réalisations qui ont marqué cette période essentielle de mon parcours académique.</p>
        </section>

        <section>
            <h1> Qu'est ce qu'une SAÉ ? </h1>
            <p>Ce sont des situations d’apprentissage et d’Évaluation. Les SAÉ s’inspirent de tâches authentiques, que l’on retrouve en milieu professionnel. Elles permettent durant la formation du BUT informatique de travailler à plusieurs pour développer un travail d'équipe, un esprit d'équipe et de pouvoir développer des travaux complexe et long a œuvrer tout en développant nos compétences en informatique.</p>
            <br>
            <br>
            <img style="margin-left: 15%;" src="img/imageInfo.png" alt="Image info">
        </section>
    </main>
</body>
</html>
