<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon stage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="dropdown">
                    <a  class="dropbtn">Mes projets</a>
                    <div class="dropdown-content">
                        <a href="/BUT1">BUT 1</a>
                        <a href="/BUT2">BUT 2</a>
                        <a href="/BUT3">BUT 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn">Mon stage</a>
                    <div class="dropdown-content">
                        <a href="/stage2023">Stage 2023</a>
                        <a href="/stage2024">Stage 2024</a>
                    </div>
                </li>
                <li><a href="/about">À propos de moi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <main>
            <section>
                <div class="button-container">
                    <button onclick="location.href='/s101'">SAÉ S1.01</button>
                    <button onclick="location.href='/s102'">SAÉ S1.02 </button>
                    <button onclick="location.href='/s103'">SAÉ S1.03</button>
                    <button onclick="location.href='/s104'">SAÉ S1.04</button>
                    <button onclick="location.href='/s105'">SAÉ S1.05</button>
                    <button onclick="location.href='/s106'">SAÉ S1.06</button>
                    <button onclick="location.href='/s126'">SAÉ S2.126</button>
                    <button onclick="location.href='/s345'">SAÉ S2.345</button>
                </div>
                <br>
            </section>
        </main>
        <h1>SAE 1.01</h1>
        <section id="subject">
            <h2>Introduction</h2>
            <p>
                <p>Notre projet de SAE consistait à réaliser un jeu en Java en collaboration avec une seconde personne, le jeu du jeton. À partir d’un squelette à remplir, nous avons réfléchi puis écrit les méthodes pour réaliser le jeu.</p>
        
                <p>Le jeu du jeton est un jeu de stratégie où deux joueurs s'affrontent sur un plateau. Chaque joueur à tour de rôle place un jeton contenant une couleur et un numéro sur le plateau, et le but est de remplir le plateau et la derniere case vide finit le jeu. Le gagant est celui dont la somme des numéros voisins à cette case vide est le moins grand </p>           
        </section>

        <section id="objectives">
            <h1>Mon travail</h1>
            
            <p>Pendant le développement, j'ai pris en charge plusieurs tâches individuellement :</p>
            
            <ul class="task-list">
                <li>Conception et implémentation de l'algorithme de calcul de la somme des voisins dans notre jeu en Java.</li>
                <li>Développement d'une intelligence artificielle permettant de jouer contre un joueur humain.</li>
                <li>Contribution à la mise en œuvre de petites méthodes d'affichage pour le jeu.</li>
            </ul>
            
        </section>
        
        
        <section id="screenshots">
            <h2>Capture d'écran du rendu du projet (modéliser sur un terminale)</h2>
            <br>
            <br>
            <div class="screenshot-grid">
                    <img src="img/Image1.png" alt="Capture d'écran avant">
                    <img src="img/Image2.png" alt="Capture d'écran 2 avant">
                    <img src="img/Image3.png" alt="Capture d'écran après">
                </div>
            </div>
        </section>

        <section id="compétences">
            <h2>Compétences</h2>
            <li>Amélioration au language Java</li>
            <li>Créer des algorithmes et élaborer des stratégies pour contrer le joueur humain.</li>
            <li>Gestion de projet en groupe</li>
        </section>
        <section>
            <h1> Retour reflexif </h1>
            <p>Pour ce projet, nous aurions pu l'améliorer en développant une interface graphique afin de rendre le jeu plus attractif visuellement. Nous aurions également pu mieux gérer notre temps en priorisant certaines tâches et en commençant certaines parties du travail plus tôt. Malgré cela, je suis globalement satisfait du résultat compte tenu de notre niveau en Java.</p>
        </section>
        
    </main>
</body>
</html>
