<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon stage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="dropdown">
                    <a  class="dropbtn">Mes projets</a>
                    <div class="dropdown-content">
                        <a href="/BUT1">BUT 1</a>
                        <a href="/BUT2">BUT 2</a>
                        <a href="/BUT3">BUT 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn">Mon stage</a>
                    <div class="dropdown-content">
                        <a href="/stage2023">Stage 2023</a>
                        <a href="/stage2024">Stage 2024</a>
                    </div>
                </li>
                <li><a href="/about">À propos de moi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <main>
            <section>
                <div class="button-container">
                    <button onclick="location.href='/s101'">SAÉ S1.01</button>
                    <button onclick="location.href='/s102'">SAÉ S1.02 </button>
                    <button onclick="location.href='/s103'">SAÉ S1.03</button>
                    <button onclick="location.href='/s104'">SAÉ S1.04</button>
                    <button onclick="location.href='/s105'">SAÉ S1.05</button>
                    <button onclick="location.href='/s106'">SAÉ S1.06</button>
                    <button onclick="location.href='/s126'">SAÉ S2.126</button>
                    <button onclick="location.href='/s345'">SAÉ S2.345</button>
                </div>
                <br>
            </section>
        </main>
        <h1> SAE 1.02 </h1>
        <section id="subject">
            <h2>Introduction</h2>
            <p>
                <p>Cette SAÉ est une continuation de la SAÉ 01.01, réalisée avec le même partenaire. Nous devions reprendre le code du Jeu du Jeton et y ajouter deux IA capables de jouer contre un humain. En plus, nous devions rédiger un rapport en anglais décrivant simplement les stratégies des IA.</p>
        
                <p>Il était également nécessaire d'analyser les IA pour évaluer leurs performances et leur efficacité à l'aide d'outils spécifiques.</p>           
        </section>

        <section id="objectives">
            <h1>Mon travail</h1>
                        
            <ul class="task-list">
                <li>Elaboration des stratégies des IA</li>
                <li>Réaliser deux IA simple, l'une qui mettait sur des cases vides aléatoires et l'autre qui mettait ses jetons en complétant les cases vides du haut et en descendant en bas </li>
                <li>Rédiger le rapport en anglais en décrivant le fonctionnement des IA.</li>
            </ul>
            
        </section>

        <section id="compétences">
            <h2>Compétences</h2>
            <li>Développer des IA </li>
            <li>Implémenter ses stratégies en java</li>
            <li>Optimiser le code</li>
        </section>
        <section>
            <h1> Retour reflexif </h1>
            <p>Le résultat final était moyen selon moi. Étant donné que c'était la première fois que je créais des IA pour un jeu, l'exercice était complexe mais très instructif.</p>
        </section>
        
    </main>
</body>
</html>
