<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon stage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="dropdown">
                    <a  class="dropbtn">Mes projets</a>
                    <div class="dropdown-content">
                        <a href="/BUT1">BUT 1</a>
                        <a href="/BUT2">BUT 2</a>
                        <a href="/BUT3">BUT 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn">Mon stage</a>
                    <div class="dropdown-content">
                        <a href="/stage2023">Stage 2023</a>
                        <a href="/stage2024">Stage 2024</a>
                    </div>
                </li>
                <li><a href="/about">À propos de moi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <main>
            <section>
                <div class="button-container">
                    <button onclick="location.href='/s101'">SAÉ S1.01</button>
                    <button onclick="location.href='/s102'">SAÉ S1.02 </button>
                    <button onclick="location.href='/s103'">SAÉ S1.03</button>
                    <button onclick="location.href='/s104'">SAÉ S1.04</button>
                    <button onclick="location.href='/s105'">SAÉ S1.05</button>
                    <button onclick="location.href='/s106'">SAÉ S1.06</button>
                    <button onclick="location.href='/s126'">SAÉ S2.126</button>
                    <button onclick="location.href='/s345'">SAÉ S2.345</button>
                </div>
                <br>
            </section>
        </main>
        <h1> SAE 1.03</h1>
        <section id="subject">
            <h2>Introduction</h2>
            <h1>Projet SAE - Travail de Groupe</h1>
        <p>Cette SAE était un travail de groupe de quatre étudiants où nous devions nous mettre dans la peau d'une entreprise informatique. Notre tâche consistait à répondre à la demande d'un client pour le développement web en choisissant les outils les plus adaptés à ses besoins, les installer, les configurer, et créer une notice d’utilisation pour deux configurations de PC différentes :</p>
        <ul>
            <li>Un PC portable</li>
            <li>Un ordinateur fixe, avec tout l'équipement nécessaire (souris, clavier, écran, etc.) et des outils logiciels (Flask, MySQL, MariaDB, etc.)</li>
        </ul>
        <p>Ensuite, nous devions rédiger une notice de mise en place d'une machine virtuelle permettant au client de réaliser son travail.</p>    
        </section>

        <section id="objectives">
            <h1>Mon travail</h1>
                        
            <ul class="task-list">
                <li>Créer les deux configurations des deux ordinateurs en suivant le besoin client</li>
                <li>Gérer une équipe (chef de groupe)</li>
                <li>Justifier les choix techniques réalisés</li>
                <li>Rédaction de la notice de l'installation de la machine virtuelle</li>
            </ul>
            
        </section>

        <section id="compétences">
            <h2>Compétences</h2>
            <li>Identifier les différents composants (matériels et logiciels) d’un système numérique</li>
            <li>Installer et configurer un système d’exploitation et ses outils de développement</li>
        </section>
        <section>
            <img style="" src="img/MachineVirtuelle.png" alt="MachineVirtuelle">
            <br>
            <br>
            <strong><a href="/document/16_Architecture_4" download="16_Architecture_4.odt">Notice d'installation</a></strong>
        </section>
        <section>
            <h1> Retour reflexif </h1>
            <p>Pour ce projet, je pense avoir bien réussi. J'ai beaucoup apprécié cette SAE car elle portait sur les composants d'ordinateur, un domaine qui m'intéresse particulièrement en dehors de la formation.</p>
        </section>
        
    </main>
</body>
</html>
