<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon stage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="dropdown">
                    <a  class="dropbtn">Mes projets</a>
                    <div class="dropdown-content">
                        <a href="/BUT1">BUT 1</a>
                        <a href="/BUT2">BUT 2</a>
                        <a href="/BUT3">BUT 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn">Mon stage</a>
                    <div class="dropdown-content">
                        <a href="/stage2023">Stage 2023</a>
                        <a href="/stage2024">Stage 2024</a>
                    </div>
                </li>
                <li><a href="/about">À propos de moi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <main>
            <section>
                <div class="button-container">
                    <button onclick="location.href='/s101'">SAÉ S1.01</button>
                    <button onclick="location.href='/s102'">SAÉ S1.02 </button>
                    <button onclick="location.href='/s103'">SAÉ S1.03</button>
                    <button onclick="location.href='/s104'">SAÉ S1.04</button>
                    <button onclick="location.href='/s105'">SAÉ S1.05</button>
                    <button onclick="location.href='/s106'">SAÉ S1.06</button>
                    <button onclick="location.href='/s126'">SAÉ S2.126</button>
                    <button onclick="location.href='/s345'">SAÉ S2.345</button>
                </div>
                <br>
            </section>
        </main>
        <h1>SAE 2.03/2.04/2.05</h1>
        <section id="subject">
            <h2>Introduction</h2>
        <p>Ce projet, réalisé en groupe de trois étudiants, visait à développer un site de e-commerce spécialisé dans la vente de peinture. Pour mener à bien ce projet, nous avons rédigé des rapports de gestion incluant un cahier des charges et un diagramme de Gantt. Une partie importante de cette SAE consistait à configurer une machine virtuelle, puis à installer et configurer un serveur web avec plusieurs applications/sites web qui seraient déployés via Git.
        </p>
        </section>

        <section id="objectives">
            <h1>Mon travail</h1>
                        
            <ul class="task-list">
                <li>Concevoir le cahier des charges</li>
                <li>Écrire des requêtes SQL pour le site</li>
                <li>Créer des graphiques de visualisation</li>
                <li>gestion des adresses d’expédition et de livraison</li>
                <li>Concevoir la machine virtuelle et configurer un serveur web</li>
            </ul>
            
        </section>

        <section id="compétences">
            <h2>Compétences</h2>
            <li>Créer une base de données</li>
            <li>Lier machine hôte et machine virtuelle</li>
        </section>
        <section>
            <h2>Capture d'écran</h2>
            <img style="width: 60%; margin-left: 15%;"src="img/cpt1.png">
            <br>
            <br>
            <img style="width: 60%; margin-left: 15%;"src="img/cpt2.png">
            <br>
            <br>
            <img style="width: 60%; margin-left: 15%;"src="img/cpt3.png">
        </section>
    </main>
</body>
</html>
